.MenuItem {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;

  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.BtnGroup {
  margin: 4px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.myLabel {
  margin: 4px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
